<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Variables de entorno -->
        <add key="PYTHONPATH" value="C:\PDF" />
        <add key="WSGI_HANDLER" value="app.app" /> <!-- Reemplaza 'app.app' con tu objeto de aplicación Flask -->
        <add key="PYTHONHOME" value="C:\Users\Administrador.WIN-QOCAEUV94MQ\venv\Scripts\python.exe" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="pythonapp" />
            <remove name="DetalleMOHandler" />
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Sitios\PDF\FlaskWebVenv\Scripts\python.exe|C:\Sitios\PDF\FlaskWebVenv\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <add value="index.html" />
                <add value="app.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
